<app-encabezado></app-encabezado>
<div class="container">
    <div class="circulo"></div>
    <section>
        <div class="izquierda">
            <h2>CONTÁCTANOS</h2>
            <P>¿Necesitas hablar?Te Escuchamos...</P>

        </div>
        <div class="derecha">
            <img src="../../../assets/img/CAFE.png">
        </div>
    </section>
    <section>
        <div class="titulo">
            <h2>¿Cuál Funciona mejor para ti?</h2>
        </div>
        <div class="portafolio">
            <div class="imagen-port">
              <img src="../../../assets/img/PREGUNTA (1).png">
              <div class="infoImagen">
                <div>
                    <h3>Pregunta a ARIQ</h3>
                    <p>Echa un vistazo a nuestras preguntas frecuentes</p>
                </div>
              </div>
            </div>
            <div class="imagen-port">
              <img src="../../../assets/img/UBICACION.png">
              <div class="infoImagen">
                <div>
                    <h3>Llámanos o encuéntranos</h3>
                    <p>Llámanos a la línea directa de servicio al consumidor local y encuentre una ubicación de oficina cerca de tu locación</p>
                </div>
              </div>
            </div>
            <div class="imagen-port">
              <img src="../../../assets/img/TWITTER.png">
              <div class="infoImagen">
                <div>
                    <h3>Escríbemos</h3>
                    <p>Estamos a un tweet de @ariq.ec</p>
                </div>
              </div>
            </div>
            <div class="imagen-port">
              <img src="../../../assets/img/ANUNCIOS.png">
              <div class="infoImagen">
                <div>
                    <h3>Habla alto</h3>
                    <p>Si tiene un problema de cumplimiento (lo mantendremos confidencial)</p>
                </div>
              </div>
            </div>
          </div>
    </section>
    <section>
        <div class="saludo">
            <h2>DEJANOS UN MENSAJE Y QUE TENGAS UN BUEN DÍA</h2>
        </div>
    </section>
    <section>
        <div class="eslogan">
          <img src="../../../assets/img/comillas.png" id="comillas-izquierda">
          <h2 style="margin-top: 168px;">El chocolate no resolverá tus problemas</h2>
          <h2 style="margin-bottom: 82px;">Pero tampoco lo hará una manzana</h2>
          <img src="../../../assets/img/comillas1.png" id="comillas-derecha">
          <img src="../../../assets/img/CEO ARIQ.jpg" style="width: 88px;height: 88px;border-radius: 50%;">
          <p style="font-size: 24px; font-weight: 600;margin-bottom: 8px;">Kharol Chicaiza</p>
          <p style="font-size: 18px; font-weight: 500px;margin-bottom: 132px;">Delivery & Fundadora de ARIQ</p>
        </div>
      </section>
</div>
<app-pie-t></app-pie-t>
