<p>home-a works!</p>
<h1>Inicio Adminsitrador</h1>
<h2>Regala Experiencias al alcance de chocolate</h2>
<h4>Realizamos chocolates para toda ocasión, el limite es tu imaginación</h4>
<h2>Nuestra mejor seleccion</h2>
<ul>
       <li *ngFor="let producto of productos.slice(index, index+4)" class="producto" >
        <a *ngIf="producto.estado === 'Activo'">
            <img src="{{url+'get-imagen/'+producto.imagen}}" style="width: 30px;height: 30px;">
            <h3>{{producto.codigo}} - {{producto.nombre}} - {{producto.precio}}</h3>
            <!-- <button [routerLink]="['/chocolate', producto._id]"> Editar </button> -->
        <!-- Esto lo va a necesitar el usuario para desplegar los detalles de un chocolate-->
        <p *ngIf="confirm==false ">
        <button  [routerLink]="['/editar-producto',producto._id]"  style="height: 50px;background-color: lightseagreen;width: 50ps;"> Editar </button>
        <button (click)="setConfirm(true, producto)" class="button-delete" style="height: 50px;background-color: lightcoral;width: 50ps;"> Eliminar </button>
         </p>
         <p *ngIf="confirm==true && selectedProduct === producto">
            <span class="confirm">Estas seguro de eliminar este chocolate</span><br>
            <button (click)="setConfirm(false, producto)" class="button-edit"  style="height: 50px;background-color: lightseagreen;width: 50ps;">Cancelar</button>
            <button (click)="borrarChocolate(producto)" class="button-delete"  style="height: 50px;background-color: lightcoral;width: 50ps;">Eliminar definitivamente</button>
        </p>
    </a> 
      </li> 
   
          <button style="height: 50px; width: 100px;" >
             +
        </button>
  </ul>

<h2>Inicio Administrador</h2>
<ul>

       <li *ngFor="let articulo of articulos" class="articulo" >
        <a *ngIf="articulo.tipo === 'Activo'">
            <h3>{{articulo.titulo}} - {{articulo.texto}}</h3>
            <img src="{{url+'get-imagen/'+articulo.imagen}}" style="width: 30px;height: 30px;">
            <!-- <button [routerLink]="['/chocolate', producto._id]"> Editar </button> -->
        <!-- Esto lo va a necesitar el usuario para desplegar los detalles de un chocolate-->
    </a> 
      </li> 
   
      <button style="height: 50px; width: 100px;" (click)="toggleAgregar()">+</button>

      <ng-container *ngIf="agregarVisible">
        <button [routerLink]="['/nuevoChocolate']" >Agregar Nuevo</button>
        <button [routerLink]="['/**']">Agregar Existente</button>
      </ng-container>

  </ul>