<section>
  <div class="izquierda">
      <h2>Regala experiencias al alcance de un chocolate</h2>
      <p>Realizamos chocolates para toda ocasión, el límite es tu imaginación.</p>
      <div class="botones">
          <button style="background-color: black;"><a href="#" style="color: white;" [routerLink]="['/contactos']">Ordena Ahora</a></button>
          <button style="background-color: white;"><a href="#" style="color: black;" [routerLink]="['/productos']">Productos</a></button>
      </div>
  </div>
  <div class="derecha">
      <img src="../../../assets/img/pastel.png">
      <div class="circulo"></div>
  </div>
</section>
<section>
  <div class="seleccion">
    <div class="Sizquierda">
        <h2>Nuestra Mejor selección</h2>
    </div>
    <div class="Sderecha">
        <p>Aquí te mostramos nuestros productos más solicitados, que pueden ser de tu agrado.</p>
    </div>
  </div>
  <div class="productos-container">
    <ng-container *ngFor="let producto of productos.slice(index, index+4)" class="producto" >
        <a *ngIf="producto.estado === 'Activo'">
            <div class="tarjeta">
                <img src="{{url+'get-imagen/'+producto.imagen}}">
                <h3>{{producto.descripcion}}</h3>
                <div class="editar">
                    <p *ngIf="confirm==false ">
                        <button  [routerLink]="['/editar-producto',producto._id]" style="margin-left: 90px;"><i class="fa-sharp fa-solid fa-pen-to-square"></i></button>
                        <button (click)="setConfirm(true, producto)" class="button-delete"><i class="fa-sharp fa-solid fa-trash-can"></i></button>
                    </p>
                    <p *ngIf="confirm && selectedProduct === producto">
                        <span class="confirm">Estas seguro de eliminar este chocolate</span><br>
                        <button (click)="setConfirm(false, producto)" class="button-edit" style="margin-left: 90px; background-color: #D50000; color: white;"><i class="fa-sharp fa-solid fa-xmark"></i></button>
                        <button (click)="borrarChocolate(producto)" class="button-delete" style="background-color: #009100; color: white;"><i class="fa-sharp fa-solid fa-check"></i></button>
                    </p>
                </div>
            </div>
        </a> 
    </ng-container> 
    <div class="producto">
        <div class="tarjeta boton-tarjeta">
            <button id="agregar"class="boton-nuevo">+</button>
        </div>
    </div>
  </div>
</section>

<h2>Inicio Administrador</h2>
<ul>

       <li *ngFor="let articulo of articulos" class="articulo" >
        <a *ngIf="articulo.tipo === 'Activo'">
            <h3>{{articulo.titulo}} - {{articulo.texto}}</h3>
            <img src="{{url+'get-imagen/'+articulo.imagen}}" style="width: 30px;height: 30px;">
            <!-- <button [routerLink]="['/chocolate', producto._id]"> Editar </button> -->
        <!-- Esto lo va a necesitar el usuario para desplegar los detalles de un chocolate-->
    </a> 
      </li> 
   
      <button style="height: 50px; width: 100px;" (click)="toggleAgregar()">+</button>

      <ng-container *ngIf="agregarVisible">
        <button [routerLink]="['/nuevoChocolate']" >Agregar Nuevo</button>
        <button [routerLink]="['/**']">Agregar Existente</button>
      </ng-container>

  </ul>
  <section>
    <div class="fiesta">
        <h2>Para Fiestas y Eventos</h2>
        <p>Comunicate con nosotros con una semana de anticipación en nuestro horario de atención</p>
        <button><a href="#" style="color:white;text-decoration: none;" [routerLink]="['/contactos']">Contactos</a></button>
    </div>
  </section>
  <section>
    <div class="eslogan">
      <img src="../../../assets/img/comillas.png" id="comillas-izquierda">
      <h2 style="margin-top: 168px;">El chocolate no resolverá tus problemas</h2>
      <h2 style="margin-bottom: 82px;">Pero tampoco lo hará una manzana</h2>
      <img src="../../../assets/img/comillas1.png" id="comillas-derecha">
      <img src="../../../assets/img/CEO ARIQ.jpg" style="width: 88px;height: 88px;border-radius: 50%;">
      <p style="font-size: 24px; font-weight: 600;margin-bottom: 8px;">Kharol Chicaiza</p>
      <p style="font-size: 18px; font-weight: 500px;margin-bottom: 132px;">Delivery & Fundadora de ARIQ</p>
    </div>
  </section>
  <app-pie></app-pie>