<p>Productos</p>
<ul>
    <ng-container *ngFor="let categoria of categorias">
      <h2>{{categoria}}</h2>
       <li *ngFor="let producto of productos" class="producto" >
        <a *ngIf="producto.categoria === categoria && producto.estado === 'Activo'">
            <h3>{{producto.codigo}} - {{producto.nombre}} - {{producto.precio}}</h3>
            <!-- <button [routerLink]="['/chocolate', producto._id]"> Editar </button> -->
        <!-- Esto lo va a necesitar el usuario para desplegar los detalles de un chocolate-->
        <p *ngIf="confirm==false ">
        <button  [routerLink]="['/editar-producto',producto._id]"  style="height: 50px;background-color: lightseagreen;width: 50ps;"> Editar </button>
        <button (click)="setConfirm(true, producto)" class="button-delete" style="height: 50px;background-color: lightcoral;width: 50ps;"> Eliminar </button>
         </p>
         <p *ngIf="confirm && selectedProduct === producto">
            <span class="confirm">Estas seguro de eliminar este chocolate</span><br>
            <button (click)="setConfirm(false, producto)" class="button-edit"  style="height: 50px;background-color: lightseagreen;width: 50ps;">Cancelar</button>
            <button (click)="borrarChocolate(producto)" class="button-delete"  style="height: 50px;background-color: lightcoral;width: 50ps;">Eliminar definitivamente</button>
        </p>
    </a> 
      </li> 
   
          <button style="height: 50px; width: 100px;" [routerLink]="['/inventario/'+categoria]">
             +
        </button>

      
    </ng-container>
  </ul>
  

