<div class="container">
    <div class="circulo"></div>
    <div class="circulo2"></div>
    <div class="circulo3"></div>
    <div class="seleccion" style="margin-top: 93px;">
        <div class="Sizquierda">
            <h2>Navidad</h2>
        </div>
        <div class="Sderecha">
              <p>Chocolates llenos del espíritu navideño.</p>
        </div>
    </div>
    <div class="productos-container">
        <ng-container *ngFor="let categoria of categorias">
            <ng-container *ngIf="categoria === 'Premium'">
                <div class="productos-list">
                    <ng-container *ngFor="let producto of productos" class="producto" >
                        <a *ngIf="producto.categoria === categoria && producto.estado === 'Activo'">
                            <div class="tarjeta">
                                <img src="{{url+'get-imagen/'+producto.imagen}}">
                                <h3>{{producto.descripcion}}</h3>
                                <div class="editar">
                                    <p *ngIf="confirm==false ">
                                        <button  [routerLink]="['/editar-producto',producto._id]" style="margin-left: 90px;"><i class="fa-sharp fa-solid fa-pen-to-square"></i></button>
                                        <button (click)="setConfirm(true, producto)" class="button-delete"><i class="fa-sharp fa-solid fa-trash-can"></i></button>
                                    </p>
                                    <p *ngIf="confirm && selectedProduct === producto">
                                        <span class="confirm">Estas seguro de eliminar este chocolate</span><br>
                                        <button (click)="setConfirm(false, producto)" class="button-edit" style="margin-left: 90px; background-color: #D50000; color: white;"><i class="fa-sharp fa-solid fa-xmark"></i></button>
                                        <button (click)="borrarChocolate(producto)" class="button-delete" style="background-color: #009100; color: white;"><i class="fa-sharp fa-solid fa-check"></i></button>
                                    </p>
                                </div>
                            </div>
                        </a> 
                    </ng-container> 
                    <div class="producto">
                        <div class="tarjeta boton-tarjeta">
                            <button id="agregar" [routerLink]="['/inventario/'+categoria]" class="boton-nuevo">+</button>
                        </div>
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </div>
    <div class="seleccion">
        <div class="Sizquierda">
            <h2>San Valentín</h2>
        </div>
        <div class="Sderecha">
            <p>Ideales para regalar a tu pareja o seres queridos.</p>
        </div>
    </div>
    <div class="productos-container">
        <ng-container *ngFor="let categoria of categorias">
            <ng-container *ngIf="categoria === 'Premium'">
                <div class="productos-list">
                    <ng-container *ngFor="let producto of productos" class="producto" >
                        <a *ngIf="producto.categoria === categoria && producto.estado === 'Activo'">
                            <div class="tarjeta">
                                <img src="{{url+'get-imagen/'+producto.imagen}}">
                                <h3>{{producto.descripcion}}</h3>
                                <div class="editar">
                                    <p *ngIf="confirm==false ">
                                        <button  [routerLink]="['/editar-producto',producto._id]" style="margin-left: 90px;"><i class="fa-sharp fa-solid fa-pen-to-square"></i></button>
                                        <button (click)="setConfirm(true, producto)" class="button-delete"><i class="fa-sharp fa-solid fa-trash-can"></i></button>
                                    </p>
                                    <p *ngIf="confirm && selectedProduct === producto">
                                        <span class="confirm">Estas seguro de eliminar este chocolate</span><br>
                                        <button (click)="setConfirm(false, producto)" class="button-edit" style="margin-left: 90px; background-color: #D50000; color: white;"><i class="fa-sharp fa-solid fa-xmark"></i></button>
                                        <button (click)="borrarChocolate(producto)" class="button-delete" style="background-color: #009100; color: white;"><i class="fa-sharp fa-solid fa-check"></i></button>
                                    </p>
                                </div>
                            </div>
                        </a> 
                    </ng-container> 
                    <div class="producto">
                        <div class="tarjeta boton-tarjeta">
                            <button id="agregar" [routerLink]="['/inventario/'+categoria]" class="boton-nuevo">+</button>
                        </div>
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </div>
    <div class="seleccion">
        <div class="Sizquierda">
            <h2>Decorativos</h2>
        </div>
        <div class="Sderecha">
            <p>El chocolate no solo es para comer, también puede ser arte.</p>
        </div>
    </div>
    <div class="productos-container">
        <ng-container *ngFor="let categoria of categorias">
            <ng-container *ngIf="categoria === 'Premium'">
                <div class="productos-list">
                    <ng-container *ngFor="let producto of productos" class="producto" >
                        <a *ngIf="producto.categoria === categoria && producto.estado === 'Activo'">
                            <div class="tarjeta">
                                <img src="{{url+'get-imagen/'+producto.imagen}}">
                                <h3>{{producto.descripcion}}</h3>
                                <div class="editar">
                                    <p *ngIf="confirm==false ">
                                        <button  [routerLink]="['/editar-producto',producto._id]" style="margin-left: 90px;"><i class="fa-sharp fa-solid fa-pen-to-square"></i></button>
                                        <button (click)="setConfirm(true, producto)" class="button-delete"><i class="fa-sharp fa-solid fa-trash-can"></i></button>
                                    </p>
                                    <p *ngIf="confirm && selectedProduct === producto">
                                        <span class="confirm">Estas seguro de eliminar este chocolate</span><br>
                                        <button (click)="setConfirm(false, producto)" class="button-edit" style="margin-left: 90px; background-color: #D50000; color: white;"><i class="fa-sharp fa-solid fa-xmark"></i></button>
                                        <button (click)="borrarChocolate(producto)" class="button-delete" style="background-color: #009100; color: white;"><i class="fa-sharp fa-solid fa-check"></i></button>
                                    </p>
                                </div>
                            </div>
                        </a> 
                    </ng-container> 
                    <div class="producto">
                        <div class="tarjeta boton-tarjeta">
                            <button id="agregar" [routerLink]="['/inventario/'+categoria]" class="boton-nuevo">+</button>
                        </div>
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </div>
    <div class="seleccion">
        <div class="Sizquierda">
            <h2>Rellenos</h2>
        </div>
        <div class="Sderecha">
            <p>Chocolates con varios tipos de relleno para compartir.</p>
        </div>
    </div>
    <div class="productos-container">
        <ng-container *ngFor="let categoria of categorias">
            <ng-container *ngIf="categoria === 'Premium'">
                <div class="productos-list">
                    <ng-container *ngFor="let producto of productos" class="producto" >
                        <a *ngIf="producto.categoria === categoria && producto.estado === 'Activo'">
                            <div class="tarjeta">
                                <img src="{{url+'get-imagen/'+producto.imagen}}">
                                <h3>{{producto.descripcion}}</h3>
                                <div class="editar">
                                    <p *ngIf="confirm==false ">
                                        <button  [routerLink]="['/editar-producto',producto._id]" style="margin-left: 90px;"><i class="fa-sharp fa-solid fa-pen-to-square"></i></button>
                                        <button (click)="setConfirm(true, producto)" class="button-delete"><i class="fa-sharp fa-solid fa-trash-can"></i></button>
                                    </p>
                                    <p *ngIf="confirm && selectedProduct === producto">
                                        <span class="confirm">Estas seguro de eliminar este chocolate</span><br>
                                        <button (click)="setConfirm(false, producto)" class="button-edit" style="margin-left: 90px; background-color: #D50000; color: white;"><i class="fa-sharp fa-solid fa-xmark"></i></button>
                                        <button (click)="borrarChocolate(producto)" class="button-delete" style="background-color: #009100; color: white;"><i class="fa-sharp fa-solid fa-check"></i></button>
                                    </p>
                                </div>
                            </div>
                        </a> 
                    </ng-container> 
                    <div class="producto">
                        <div class="tarjeta boton-tarjeta">
                            <button id="agregar" [routerLink]="['/inventario/'+categoria]" class="boton-nuevo">+</button>
                        </div>
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </div>
    <div class="seleccion">
        <div class="Sizquierda">
            <h2>Especiales</h2>
        </div>
        <div class="Sderecha">
            <p>Selección exclusiva.</p>
        </div>
    </div>
    <div class="productos-container">
        <ng-container *ngFor="let categoria of categorias">
            <ng-container *ngIf="categoria === 'Premium'">
                <div class="productos-list">
                    <ng-container *ngFor="let producto of productos" class="producto" >
                        <a *ngIf="producto.categoria === categoria && producto.estado === 'Activo'">
                            <div class="tarjeta">
                                <img src="{{url+'get-imagen/'+producto.imagen}}">
                                <h3>{{producto.descripcion}}</h3>
                                <div class="editar">
                                    <p *ngIf="confirm==false ">
                                        <button  [routerLink]="['/editar-producto',producto._id]" style="margin-left: 90px;"><i class="fa-sharp fa-solid fa-pen-to-square"></i></button>
                                        <button (click)="setConfirm(true, producto)" class="button-delete"><i class="fa-sharp fa-solid fa-trash-can"></i></button>
                                    </p>
                                    <p *ngIf="confirm && selectedProduct === producto">
                                        <span class="confirm">Estas seguro de eliminar este chocolate</span><br>
                                        <button (click)="setConfirm(false, producto)" class="button-edit" style="margin-left: 90px; background-color: #D50000; color: white;"><i class="fa-sharp fa-solid fa-xmark"></i></button>
                                        <button (click)="borrarChocolate(producto)" class="button-delete" style="background-color: #009100; color: white;"><i class="fa-sharp fa-solid fa-check"></i></button>
                                    </p>
                                </div>
                            </div>
                        </a> 
                    </ng-container> 
                    <div class="producto">
                        <div class="tarjeta boton-tarjeta">
                            <button id="agregar" [routerLink]="['/inventario/'+categoria]" class="boton-nuevo">+</button>
                        </div>
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </div>
</div>
<app-pie-r></app-pie-r>
  

