
<body>

    <div class="container" id="log">
        <div class="row" id="row">
          <div class="login-form">
            <div class="message failed" *ngIf="status=='failed'">
                Usuario o contraseña ingresados incorrectamente
            </div>
            <form #loginCForm="ngForm" (ngSubmit)="guardarCliente(loginCForm)">
              <h1>Bienvenido Cliente</h1>
              <div class="content">
              <div class="input-field">
                <label for="username">Nombre :</label>
                <input type="text" class="form-control" placeholder="Nombre" id="username" name="username" #username="ngModel" [(ngModel)]="cliente.nombre" required>
                <span *ngIf="username.touched && !username.valid">
                  Nombre obligatorio
              </span>
              </div>
              <div class="input-field">
                <label for="contrasenia">Correo:</label>
                <input type="email" class="form-control" placeholder="Correo" id="password" name="password" #password="ngModel" [(ngModel)]="cliente.correo" required>
                <span *ngIf="password.touched && !password.valid">
                  Correo obligatorio
              </span>
              </div>
            </div>
            <div class="action">
              <input type="submit" value="Ingresar" [disabled]="!loginCForm.form.valid">
            </div>
            </form>
          </div>
        </div>
      </div>
      
      
    </body>
