<nav class="menu">
    <span><img src="../../../assets/img/logo.png" style="width: 126px; height: 53px;"></span>
    <ul>
        <a href="#">Inicio</a>
        <a href="#">Productos</a>
        <a href="#">About Us</a>
        <a href="#">Contactos</a>
    </ul>
    <label style="margin-right: 177px;">
      <input type="text" placeholder="Buscar" style="width: 251px; height: 45px; font-size: 16px;">
      <button class="fas fa-search" style="background-color: black; color: white;width: 45px; height: 45px;"></button>
    </label>
</nav>
