<footer>
    <nav class="menu2">
        <span><img src="../../../assets/img/logo.png" style="width: 126px; height: 63px;"></span>
        <ul>
            <a [routerLink]="['/inicio']">Inicio</a>
            <a [routerLink]="['/productos']">Productos</a>
            <a [routerLink]="['/about-us']">About Us</a>
            <a [routerLink]="['/contactos']">Contactos</a>
        </ul>
    </nav>
    <div class="contenidof">
      <p>&copy; 2021 ARIQ. Todos los derechos reservados.</p>
      <div class="redes-sociales">
        <a href="#" class="fab fa-facebook"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-instagram"></a>
        <a href="#" class="fab fa-github"></a>
        <a href="#" class="fab fa-linkedin"></a>
      </div>
    </div>
</footer>
