<div class="contenedor">
    <div class="tarjeta">
        <div class="titulo">
            <p>Detalle de producto</p>
        </div>
        <div class = "izquierda" *ngIf = "chocolate">
            <div class = "imagen" *ngIf = "chocolate.imagen">
                <img src = "{{url+'get-imagen/'+chocolate.imagen}}" *ngIf = "chocolate.imagen">
            </div>
        </div>
        <div class="derecha">
            <h3 class="descripcion">Chocolate nombre:</h3>
            <h3 class="texto">{{chocolate.nombre}}</h3>
            <h3 class="descripcion">Precio:</h3>
            <h3 class="texto"> {{chocolate.precio}}</h3>
            <h3 class="descripcion">Descripcion:</h3>
            <h3 class="texto"> {{chocolate.descripcion}}</h3>
        </div>
    </div>
</div>

<!-- <p *ngIf = "confirm==false">
    <a [routerLink] = "['/editar-producto',chocolate._id]" class = "button-edit">Editar</a>
</p> -->
<app-pie-r></app-pie-r>