<footer>
    <nav class="menu2">
      <span><img src="../../../assets/img/logo.png" style="width: 126px; height: 63px;"></span>
      <ul>
        <a href="#">Inicio</a>
        <a href="#">Productos</a>
        <a href="#">About Us</a>
        <a href="#">Contactos</a>
      </ul>
    </nav>
    <div class="contenidof">
      <p>&copy; 2021 ARIQ. Todos los derechos reservados.</p>
      <div class="redes-sociales">
        <a href="#" class="fab fa-facebook"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-instagram"></a>
        <a href="#" class="fab fa-github"></a>
        <a href="#" class="fab fa-linkedin"></a>
      </div>
    </div>
</footer>