/*Pie de pagina*/
footer{
    background-color: #D9FBCD;
    font-family: 'Poppins';
}
.menu2 {
    display: flex;
    align-items: center;
    height: 169px;
    background-color: #D9FBCD;
    border-bottom: solid grey 1px;
}
.menu2 span {
    margin-right: auto;
    margin-left: 184px;
    font-size: 30px;
}
.menu2 ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 950px;
}
.menu2 a {
    margin-left: 46px;
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.contenidof {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 211px;
}

.contenidof p {
    font-size: 16px;
    font-weight: 500;
    margin-left: 150px;
}

.redes-sociales {
    display: flex;
    align-items: center;
    margin-right: 150px;
}

.redes-sociales a {
    margin-left: 34px;
    font-size: 24px;
    color: black;
    text-decoration: none;
    width: 24px;
    height: 24px;
}
/*Responsive contactos, eslogan y footer*/
/* Small screens */
@media only screen and (max-width: 767px) {
  /* Move the slogan and image up */
  .eslogan {
    margin-top: 100px;
  }

  /* Adjust the position of the quotation marks */
  #comillas-izquierda {
    left: 250px;
    top: -25px;
  }

  #comillas-derecha {
    right: 250px;
    bottom: 150px;
  }

  /* Center the menu items */
  .menu2 ul {
    margin: 0 auto;
    margin-right: 0;
  }

  /* Adjust the padding of the footer */
  footer {
    padding: 1em 0;
  }

  /* Center the footer content */
  .contenidof {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .redes-sociales {
    margin: 0;
    margin-top: 1em;
  }
}

/* Medium screens */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* Move the slogan and image up */
  .eslogan {
    margin-top: 150px;
  }

  /* Adjust the position of the quotation marks */
  #comillas-izquierda {
    left: 350px;
    top: -30px;
  }

  #comillas-derecha {
    right: 350px;
    bottom: 200px;
  }

  /* Center the menu items */
  .menu2 ul {
    margin: 0 auto;
    margin-right: 0;
  }
}

/* Large screens */
@media only screen and (min-width: 1024px) {
  /* Move the slogan and image up */
  .eslogan {
    margin-top: 200px;
  }

  /* Adjust the position of the quotation marks */
  #comillas-izquierda {
    left: 400px;
    top: -35px;
  }

  #comillas-derecha {
    right: 430px;
    bottom: 220px;
  }
}