<table style="margin: 0 auto; width: 70%; text-align: center; margin-bottom: 100px;">
  <thead>
    <tr>
      <th>Código</th>
      <th>Imagen</th>
      <th>Nombre</th>
      <th>Precio</th>
      <th>Estado</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let producto of productos">
      <tr class="producto">
        <td>{{producto.codigo}}</td>
        <td><img src="{{url+'get-imagen/'+producto.imagen}}" style="width: 50px;height: 50px;"></td>
        <td>{{producto.nombre}}</td>
        <td>{{producto.precio}}</td>
        <td>{{producto.estado}}</td>
        <td>
          <button (click)="agregarChocolate(producto)" [routerLink]="'/productos'" *ngIf="producto.estado == 'Inactivo'"style="border: none; width: 50px;height: 50px;background-color: transparent;"><i class="fa-sharp fa-solid fa-circle-plus" style="font-size: 35px;"></i></button>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
<app-pie-r></app-pie-r>