<p>Inventario works!</p>
<ul>
    <ng-container *ngFor="let producto of productos">
        <li class="producto" >
            <img src="{{url+'get-imagen/'+producto.imagen}}" style="width: 30px;height: 30px;">
            <p>{{producto.codigo}} - {{producto.nombre}} - {{producto.precio}} - {{producto.estado}} </p>
           <button *ngIf="producto.estado==='Inactivo'" (click)="AgregarChocolate(producto)" class="button-agregar"  style="height: 50px;background-color: lightcoral;width: 50ps;">Agregar</button>
        </li>
      </ng-container>
</ul>