<app-encabezado-a></app-encabezado-a>
<table style="margin: 0 auto; width: 70%; text-align: center; margin-bottom: 10px;margin-top: 50px;"> 
  <thead *ngIf="isChocolate">
  <h2>Busqueda</h2> 
    <input type="text" [(ngModel)]="nombre" name="nombre" placeholder="Por categoria" class="nombre">
    <button type="button" (click)="buscarChocolate()">Buscar</button>
  <div *ngIf="chocolateBuscado">
    <tr>
      <th>Código</th>
      <th>Nombre</th>
      <th>Precio</th>
      <th>Estado</th>
    </tr>
    <ng-container *ngFor="let chocolate of chocolates">
     <tr>
      <td>
        {{chocolate.codigo}}
      </td>
      <td>
        {{chocolate.nombre}}
      </td>
      <td>
        {{chocolate.precio}}
      </td>
      <td>
        {{chocolate.estado}}
      </td>
    </tr> 
    </ng-container>
  </div>
  </thead>
  </table>
<table style="margin: 0 auto; width: 70%; text-align: center; margin-bottom: 500px;margin-top: 50px;">
  <thead *ngIf="isChocolate">
    <tr>
      <th>Código</th>
      <th>Imagen</th>
      <th>Nombre</th>
      <th>Precio</th>
      <th>Estado</th>
      <th></th>
    </tr>
  </thead>
  <thead *ngIf="isArticulos">
    <tr>
      <th>Numero</th>
      <th>Imagen</th>
      <th>Titulo</th>
      <th>Texto</th>
      <th>Tipo</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let producto of productos">
      <tr class="producto">
        <td>{{producto.codigo}}</td>
        <td><img src="{{url+'get-imagen/'+producto.imagen}}" style="width: 50px;height: 50px;"></td>
        <td>{{producto.nombre}}</td>
        <td>{{producto.precio}}</td>
        <td>{{producto.estado}}</td>
        <td>
          <button (click)="agregarChocolate(producto)" [routerLink]="'/inicioAdmin'" *ngIf="producto.estado == 'Inactivo'"style="border: none; width: 50px;height: 50px;background-color: transparent;"><i class="fa-sharp fa-solid fa-circle-plus" style="font-size: 35px;"></i></button>
        </td>
      </tr>
    </ng-container>

    <ng-container *ngFor="let articulo of articulos">
      <tr class="articulo">
        <td>{{articulo.numero}}</td>
        <td><img src="{{url+'get-imagen/'+articulo.imagen}}" style="width: 50px;height: 50px;"></td>
        <td>{{articulo.titulo}} </td>
        <td>{{articulo.texto}} </td>
        <td>{{articulo.tipo}} </td>
        <td>
          <button (click)="agregarArticulo(articulo)" [routerLink]="'/inicioAdmin'" *ngIf="articulo.estado == 'Inactivo'"style="border: none; width: 50px;height: 50px;background-color: transparent;"><i class="fa-sharp fa-solid fa-circle-plus" style="font-size: 35px;"></i></button>
        </td>
      </tr>
    </ng-container>

  </tbody>
</table>

<app-pie-r></app-pie-r>